*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
a{
    color: inherit;
    text-decoration: none;
    

}
.medsos{
    padding: 5px 0;
    background-color: #4A235A;
}
.medsos ul li{
    display: inline-block;
    color: #fff;
}
.container{
    width: 80%;
    margin: 0 auto;  

}
.container:after{
    content: '';
    display: block;
    clear: both;


}
header{

}

header h1 {
    border: none ;
    float: left;   
    padding: 15px 0;
    color: black;
    
}
header ul{

    float: right;
}
header ul li {
    display: inline-block ;
}
header ul li a{
    padding: 25px 20px;
    display: inline-block;
    color: #000;

}  
header ul li a:hover{
    background-color: #4A235A;
    color: #fff;
    box-shadow: #000 0 0 10px;
}
.active{
    background-color: #4A235A;
    color: #fff;
}
.banner{
    height: 100vh;
    background-image: url(./Premium\ Vector\ _\ Software\ development\,\ programming\ language\,\ coding.jpg);
    background-color: #4A235A;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
.banner:after{
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(74, 35, 90, .6 );
    
}
.banner h2{
    color: #fff;
    z-index: 1;
    padding: 20px 25px;
    border: 1px solid #fff;
    border-radius: 100px;
    cursor: pointer;
}
.banner h2 :hover{
    color: #000;
    background-color: #fff;
    box-shadow: 0 15px #fff;

}
section{
    padding: 50px 0;
    
}
section h3{
    text-align: center;
    padding: 20px 0;
    color: #4A235A;
}
.about p{
    color: #000;
    word-spacing: 1;
    line-height: 25px;
}
.contact{
    background-color: #4A235A;
}
footer{
    padding: 30px 0;
    background-color: #4A235A ;
    color: #000; 
    text-align: center;
}
.services{
    background-color: #f9f9f9 ;
    
}
.box{
    
    color: #4A235A;
}
.box :after{
    content: " ";
}
.box .col-4{
    width: 20%;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid;
    text-align: center;
    float: left;
    margin: 20px;
    border-radius: 10px;
    color: #000;
    
    
    
}
.box .col-4:hover{
    box-shadow: 0 0 10px rgba(81, 81, 81, .6);
    background-color: #4A235A;
    transition: .2s;

}

.box .col-4 img {
    height: 12px;
    position: absolute;
    background-size: cover;
}
.icon{
    width: 70px;
    height: 70px;
    border: 1px solid;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    font-size: 30px;
    margin: 0 auto;
    text-align: center;
    justify-content: center;

}
.fas fa mobile{
    position: relative;
    bottom: 5px;
}
.box .col-4 h4{
    margin: 20px 0;

}
.pesan{
    border: 1px solid;
    width: 250px;
    
}